## Overview of the Dataset

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Connect to the database

Load the SQL extension and establish a connection with the database

In [1]:
%load_ext sql

In [2]:
import csv, sqlite3

con = sqlite3.connect("data/SpacexDB.db")
cur = con.cursor()

In [3]:
%sql sqlite:///data/SpacexDB.db

In [4]:
import pandas as pd
df = pd.read_csv("data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [5]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///data/SpacexDB.db
Done.

[]

Display first five rows of table SPACEXTABLE

In [6]:
%sql SELECT * FROM SPACEXTABLE LIMIT 5;

 * sqlite:///data/SpacexDB.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

## Tasks

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [7]:
%%sql
SELECT DISTINCT launch_site
FROM SPACEXTABLE;

 * sqlite:///data/SpacexDB.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [8]:
%%sql
SELECT * FROM SPACEXTABLE
WHERE launch_site LIKE 'CCA%'
LIMIT 5;

 * sqlite:///data/SpacexDB.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [9]:
%%sql
SELECT SUM(payload_mass__kg_) AS Total_Payload_Mass, customer
FROM SPACEXTABLE
WHERE customer = 'NASA (CRS)';

 * sqlite:///data/SpacexDB.db
Done.

[(45596, 'NASA (CRS)')]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [10]:
%%sql
SELECT AVG(payload_mass__kg_) AS Average_Payload_Mass, booster_version
FROM SPACEXTABLE
WHERE booster_version = 'F9 v1.1';

 * sqlite:///data/SpacexDB.db
Done.

[(2928.4, 'F9 v1.1')]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.

In [11]:
%%sql
SELECT MIN(date) AS Date_of_First_Successful_Landing_in_Ground_Pad
FROM SPACEXTABLE
WHERE landing_outcome = 'Success (ground pad)';

 * sqlite:///data/SpacexDB.db
Done.

[('2015-12-22',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [12]:
%%sql
SELECT booster_version
FROM SPACEXTABLE
WHERE landing_outcome = 'Success (drone ship)'
AND payload_mass__kg_ > 4000
AND payload_mass__kg_ < 6000;

 * sqlite:///data/SpacexDB.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7

##### List the total number of successful and failure mission outcomes

In [13]:
%%sql
SELECT mission_outcome, COUNT(*) AS Total
FROM SPACEXTABLE
WHERE mission_outcome IN ('Success','Failure (in flight)','Success (payload status unclear)','Success')
GROUP BY mission_outcome;

 * sqlite:///data/SpacexDB.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success (payload status unclear)', 1)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [14]:
%%sql
SELECT booster_version
FROM SPACEXTABLE
WHERE payload_mass__kg_ = (
    SELECT MAX(payload_mass__kg_)
    FROM SPACEXTABLE
);

 * sqlite:///data/SpacexDB.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

In [15]:
%%sql
SELECT
CASE 
    WHEN substr(date,6,2) = '01' THEN 'January'
    WHEN substr(date,6,2) = '02' THEN 'February'
    WHEN substr(date,6,2) = '03' THEN 'March'
    WHEN substr(date,6,2) = '04' THEN 'April'
    WHEN substr(date,6,2) = '05' THEN 'May'
    WHEN substr(date,6,2) = '06' THEN 'June'
    WHEN substr(date,6,2) = '07' THEN 'July'
    WHEN substr(date,6,2) = '08' THEN 'August'
    WHEN substr(date,6,2) = '09' THEN 'September'
    WHEN substr(date,6,2) = '10' THEN 'October'
    WHEN substr(date,6,2) = '11' THEN 'November'
    WHEN substr(date,6,2) = '12' THEN 'December'
END AS Month_Name, landing_outcome, booster_version, launch_site
FROM SPACEXTABLE
WHERE substr(date,0,5) = '2015'
    AND landing_outcome = 'Failure (drone ship)';

 * sqlite:///data/SpacexDB.db
Done.

[('January', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('April', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [16]:
%%sql
SELECT landing_outcome, COUNT(*) AS Count
FROM SPACEXTABLE
WHERE date BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY landing_outcome
ORDER BY Count DESC;

 * sqlite:///data/SpacexDB.db
Done.

[('No attempt', 10),
 ('Success (drone ship)', 5),
 ('Failure (drone ship)', 5),
 ('Success (ground pad)', 3),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Failure (parachute)', 2),
 ('Precluded (drone ship)', 1)]

Close database connection

In [17]:
con.close()